@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Open+Sans:400,600&display=swap');

// ---------------------------- BASE

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background: #f5f5f5;
  color: #4a5568;
  line-height: 1.65;
}

// --------------------- HEADER

ol[role='list'] {
  list-style-type: decimal;
}

ul[role='list'] {
  list-style-type: disc;
}

ul[role='list'] li,
ol[role='list'] li {
  margin-left: 1.125em;
}

svg {
  width: 1.125rem;
  height: 1.125rem;
  display: inline-block;
  vertical-align: -10%;
}

main {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 2em;
}

%title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 0.5em;
  color: black;
}

.the-only-class {
  text-align: center;
  min-height: 100vh;
  padding-top: 15vh;

  img {
    max-width: 70%;
    margin: 0 auto;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 10rem;
    margin-bottom: 0;
    line-height: 1;
    text-shadow: 5px 7px 0px #00000014;
  }

  h2 {
    font-size: 1.25rem;
    margin-bottom: 5em;
  }
}

section {
  &[aria-labelledby='card'] {
    background: white;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    border-bottom-width: 2px;
    box-shadow: 0 0 20px rgba(black, 0.1);
    margin-bottom: 2em;
    padding: 1.5em;

    header {
      @extend %title;
      margin-bottom: 1em;
    }

    footer {
      border-top: 1px solid #dbdbdb;
      padding-top: 1.5em;
      margin-top: 1em;
    }
  }
}
