
// ---------------------------- MIXINS

@mixin placeholder($setAmpersand: false) {
    @if $setAmpersand {
        &::-webkit-input-placeholder {
            @content;
        }
        &::-moz-placeholder {
            @content;
        }
        &:-ms-input-placeholder {
            @content;
        }
        &:-moz-placeholder {
            @content;
        }
    } @else {
        ::-webkit-input-placeholder {
            @content;
        }
        ::-moz-placeholder {
            @content;
        }
        :-ms-input-placeholder {
            @content;
        }
        :-moz-placeholder {
            @content;
        }
    }
}

@mixin icon($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: left $input-padding center;
    padding-left: calc((#{$input-padding} * 2) + var(--input-icon-size));
    background-size: var(--input-icon-size);
}