
// Made use of:

// HTML5 page by ..
// Webpack starter pack by ..
// Feathericons ..

// ---------------------------- THE BASICS

@import 'mixins';
@import 'variables';
@import 'reset';
@import 'base';

// ---------------------------- FORMS

@import 'components/forms/input';
@import 'components/forms/color';
@import 'components/forms/fieldset';
@import 'components/forms/password';
@import 'components/forms/range';
@import 'components/forms/select';

// ---------------------------- COMPONENTS

@import 'components/button';
@import 'components/table';





small {
  font-size: 0.875rem;
  color: #aaa;
}

img {
  display: block;
  max-width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400|Roboto:400');

html {
  font-size: 16px;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 1.802em;
}

h2 {
  font-size: 1.602em;
}

h3 {
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.125em;
}

small {
  font-size: 0.889em;
}
