// ---------------------------- THE BASICS

@import 'mixins';
@import 'variables';
@import 'reset';
@import 'base';

// ---------------------------- FORMS

@import 'components/forms/input';
@import 'components/forms/color';
@import 'components/forms/fieldset';
@import 'components/forms/password';
@import 'components/forms/range';
@import 'components/forms/select';

// ---------------------------- COMPONENTS

@import 'components/button';
@import 'components/table';

nav,
#text,
#embedded {
    display: none;
}

small {
    font-size: 0.875rem;
    color: #aaa;
}
