
// Made use of:

// HTML5 page by ..
// Webpack starter pack by ..
// Feathericons ..

// ---------------------------- THE BASICS

@import 'mixins';
@import 'variables';
@import 'reset';
@import 'base';

// ---------------------------- FORMS

@import 'components/forms/input';

// ---------------------------- COMPONENTS

@import 'components/button';
@import 'components/table';


details {
	width: 100%;
  position: relative;

  &[open] svg {
    transform: rotate(180deg);
    opacity: 1;
  }

	svg {
    display: block;
    height: 1.5em;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s ease-out;
    width: 1.5em;
    opacity: .5;
	}

	summary {
    list-style-image: none;
    padding-right: 2.5em;

		&:focus { outline: none; }

    &::-webkit-details-marker {
      display: none;
    }

    &::-moz-list-bullet {
      list-style-type: none;
      display: block;
   }
	}

  &:hover {
    cursor: pointer;

    svg {
      opacity: 1;
    }
	}
}




small {
  font-size: 0.875rem;
  color: #aaa;
}

img {
  display: block;
  max-width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400|Roboto:400');

html {
  font-size: 16px;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 1.802em;
}

h2 {
  font-size: 1.602em;
}

h3 {
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.125em;
}

small {
  font-size: 0.889em;
}
