// ---------------------------- SELECT

select {
    -webkit-appearance: none;
    padding-top: $input-padding;
    padding-bottom: $input-padding;
    padding-left: $input-padding;
    padding-right: $input-padding;
}
